<h1 style="text-align: center; margin: 50px 0px;">
	<span style="border-style: solid none solid none; border-color: dodgerblue; padding: 10px;">
		<%= @todo.title %>
	</span>
</h1>


<%= render partial: 'show_table_data', locals: { label: 'Description', todo_content: @todo.body } %>

<%= render partial: 'show_table_data', locals: { label: 'Deadline',  todo_content: @todo.deadline } %>

<%= render partial: 'show_table_data', locals: { label: 'Progress',  todo_content: @todo.progress } %>

<ol style="list-style-type: none; margin: 0px; padding: 0px;">
	<div style="width: 400px; margin: 30px auto;">
		<li>
			<table style="width: 400px;">
				<tr>
					<td>
						<div style="border: 3px solid lightsalmon; border-radius: 20px; padding: 10px; text-align: center; width: 100px; border-color: dodgerblue;">
							<%= link_to 'Home', root_path %>
						</div>
					</td>

					<td>
						<div style="border: 3px solid lightsalmon; border-radius: 20px; padding: 10px; text-align: center; width: 100px;">
							<%= link_to 'Edit', edit_todo_path(@todo) %>
						</div>
					</td>
				
					<td>
						<div style="border: 3px solid lightsalmon; border-radius: 20px; padding: 10px; text-align: center; width: 100px; border-color: red;">
							<%= link_to 'Destroy', todo_path(@todo), method: :delete, data: { confirm: "Are you sure?" } %>
						</div>
					</td>
				</tr>
			</table>
		</li>
	</div>
</ol>
