<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>RailsReactTodo</title>
=======
    <title>My Todo List</title>
>>>>>>> 21caf8ea6902cb58b89c4111f5e58ffe4c556ec4
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<<<<<<< HEAD
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_pack_tag 'categoryHome' %>
    <%= stylesheet_pack_tag 'inputRange' %>
    <%= stylesheet_pack_tag 'signup' %>
    <%= stylesheet_pack_tag 'todoHome' %>
    <%= stylesheet_pack_tag 'Todo' %>
    <%= stylesheet_pack_tag 'NewTodo' %>
    <%= stylesheet_pack_tag 'welcome' %>
    <%= stylesheet_pack_tag 'circularProgressbar' %>
  </head>

  <body>
=======
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3 style="text-align: right; border: solid lightsalmon; border-width: 10px; margin: 0; padding: 0; color: white; background-color: lightsalmon;">
      Riaz Ahamed, CVWO mid assignment
    </h3>
>>>>>>> 21caf8ea6902cb58b89c4111f5e58ffe4c556ec4
    <%= yield %>
  </body>
</html>
