<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactTodo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_link_tag 'todoHome' %>
    <%= stylesheet_link_tag 'Todo' %>
    <%= stylesheet_link_tag 'NewTodo' %>
    <%= stylesheet_link_tag 'inputRange' %>
    <%= stylesheet_link_tag 'circularProgressbar' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
